<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-zebra-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ZebraPlugin</name>
  <js-module name="ZebraPlugin" src="www/ZebraPlugin.js"><clobbers target="cordova.plugins.ZebraPlugin"/></js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ZebraPlugin"><param name="android-package" value="cordova.zebra.plugin.ZebraPlugin"/></feature>
      <feature name="MainExecutor"><param name="android-package" value="cordova.zebra.plugin.MainExecutor"/></feature>
      <feature name="TCPConnectionManager"><param name="android-package" value="cordova.zebra.plugin.TCPConnectionManager"/></feature>
    </config-file>
    <framework custom="true" src="src/android/zebra-gradle.gradle" type="gradleReference"/>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/ZebraPlugin.java" target-dir="src/cordova-zebra-plugin/ZebraPlugin"/>
    <source-file src="src/android/MainExecutor.java" target-dir="src/cordova-zebra-plugin/ZebraPlugin"/>
    <source-file src="src/android/TCPConnectionManager.java" target-dir="src/cordova-zebra-plugin/ZebraPlugin"/>

    <resource-file src="src/android/libs/commons-io-2.2.jar" target="../../libs/commons-io-2.2.jar"/>
    <resource-file src="src/android/libs/commons-lang3-3.4.jar" target="../../libs/commons-lang3-3.4.jar"/>
    <resource-file src="src/android/libs/commons-net-3.1.jar" target="../../libs/commons-net-3.1.jar"/>
    <resource-file src="src/android/libs/commons-validator-1.4.0.jar" target="../../libs/commons-validator-1.4.0.jar"/>
    <resource-file src="src/android/libs/core-1.53.0.0.jar" target="../../libs/core-1.53.0.0.jar"/>
    <resource-file src="src/android/libs/httpcore-4.3.1.jar" target="../../libs/httpcore-4.3.1.jar"/>
    <resource-file src="src/android/libs/httpmime-4.3.2.jar" target="../../libs/httpmime-4.3.2.jar"/>
    <resource-file src="src/android/libs/jackson-annotations-2.2.3.jar" target="../../libs/jackson-annotations-2.2.3.jar"/>
    <resource-file src="src/android/libs/jackson-core-2.2.3.jar" target="../../libs/jackson-core-2.2.3.jar"/>
    <resource-file src="src/android/libs/jackson-databind-2.2.3.jar" target="../../libs/jackson-databind-2.2.3.jar"/>
    <resource-file src="src/android/libs/opencsv-2.2.jar" target="../../libs/opencsv-2.2.jar"/>
    <resource-file src="src/android/libs/pkix-1.53.0.0.jar" target="../../libs/pkix-1.53.0.0.jar"/>
    <resource-file src="src/android/libs/prov-1.53.0.0.jar" target="../../libs/prov-1.53.0.0.jar"/>
    <resource-file src="src/android/libs/snmp6_1z.jar" target="../../libs/snmp6_1z.jar"/>
    <resource-file src="src/android/libs/ZSDK_ANDROID_API.jar" target="../../libs/ZSDK_ANDROID_API.jar"/>
  </platform>
</plugin>
